body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    color: white;
  }
  
.logo {
    font-size: 18px;
    font-weight: bold;
  }
  
.menu {
    display: flex;
    align-items: center;
  }
  
#login {
    margin: 0 10px;
    cursor: pointer;
  }
  
#signup {
    margin: 0 10px;
    cursor: pointer;
 }

 #login a{
    text-decoration: none;
    color: #ff6666;
  }
  
#signup a{
    text-decoration: none;
    color: #ff6666;
 }

 #dashboard{
    display: flex;
    background-color: antiquewhite;
 }
 #db{
    margin: 15px;
 }
 .exp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
 }
 .parent{
    display: flex;
    flex-direction: column;
    width: 85%;
    
    margin-top: 25px;
 }
 .ch{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    height: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 75%;
 }